.reg {
    &__form {
        margin-top: 25px;
    }
    &-input {
        box-sizing: border-box;
        border: 1px solid #fff !important;
    }
}

.login {
    @include center;
    &__nav {
        display: flex;
        justify-content: space-around;  
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: $main-gray-light;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid $secondary-gray-dark;
        &-log, &-reg{
            position: relative;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            &::after {
                content: "";
                transition: all 0.3s ease;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $secondary-gray-dark;
            }
        }
    }
    &_active-link {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $blue;
        }
    }
    &__input{
        border: 1px solid #fff !important;
        &_error {
            border: 1px solid $error-red !important;
        }
    }
    &__form {
        &__container {
            border-radius: 0 0 15px 15px !important;
        }
    }
}