$main-brass: #b97e5e;
$secondary-sand: #DDBEA9;
$light-champagne: #FFE8D6;
$main-ebony: #6B705C;
$secondary-artichoke: #A5A58D;
$light-gray: #B7B7A4;

$white: #FFFFFF;
$platinum: #E2E2E1;
$black: #221E1F;
$blue: #2755A2;
$dark-blue: #0D2E59;

$text-gray-dark: #6c757d;
$main-gray-light: #e9ecef;
$secondary-gray-light: #dee2e6;
$secondary-gray-dark: #adb5bd;
$secondary-black: #343a40;
$main-green: #6ede8a;

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}